body {
  text-align: left;
  font-family: 'Alegreya Sans SC', sans-serif;
  background: #86E2D5;
  color: black;
  padding: 5em;
}
h3 {
  color: black;
  text-align: center;
}

h4 {
  color: black;
}

footer {
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  position: absolute;
  text-align: center;
}
